@inject IViewLocalizer T
<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">Covid-19</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a aria-expanded="false" role="button" href="@Url.Action("Index", "Home")">@T["Home"]</a>
                </li>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <li class="dropdown">
                        <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Κρατήσεις <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li></li>
                            <li>@Html.ActionLink("Μη πληρωμένες", "BookingsNotChecked", "BookingDetails")</li>
                            <li>@Html.ActionLink("Πληρωμένες", "BookingsChecked", "BookingDetails")</li>
                        </ul>
                    </li>
                }
                @Html.Partial("_LoginPartial")
            </ul>
            <ul class="nav navbar-top-links navbar-right">
            </ul>
        </div>
    </nav>
</div>

